.containerDiv {
  position: relative;
  width: 100%;
  background: url("../../../assets/images/construction04.jpg") no-repeat center
    fixed;
  background-size: cover;
  height: 100vh;
}
#position {
  position: absolute;
  top: 8px;
  right: 12px;
  color: white;
}
.largeHero {
  color: white;
  font-size: 64px;

}
.mediumHero {
  color: white;
  font-size: 26px;
  text-align: center;
}
#registerLink {
  color: #000 !important;
  background-color: #fff;
  padding: 12px 24px !important;
  opacity: 0.7;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  cursor: pointer;

  right: 10%;
  position: absolute;
}

@media screen and (max-width: 950px) {
  .hideSmall {
    font-size: 3rem;
    top: 50% !important;
  }
  .mediumHero {
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .hideSmall {
    font-size: 2rem;
    text-align: center;
  }
}
